<md-content ng-controller="GameController as game">
	<div ng-if="!game.ready && !game.end">
		<div layout="row" layout-xs="column">
			<div flex>
				<h4>Player 1</h4>
				<md-list class="fixedRows md-dense">
					<md-list-item class="md-2-line contact-item">
						<img ng-src="{{game.player1.image}}" class="md-avatar" alt="{{game.player1.name}}"/>
						<div class="md-list-item-text compact">
							{{game.player1.name}}
							<md-input-container ng-if="false">
								<label>Name</label>
								<input required md-no-asterisk name="player1" ng-model="game.player1.name">
								<div ng-messages="game.player1.name.$error">
									<div ng-message="required">This player is required.</div>
								</div>
							</md-input-container>
						</div>
					</md-list-item>
				</md-list>
				<md-autocomplete
					md-selected-item="game.player1"
					md-search-text-change="game.searchTextChange(game.searchText1)"
					md-search-text="game.searchText1"
					md-selected-item-change="game.selectedItemChange(item)"
					md-items="item in game.querySearch(game.searchText1)"
					md-item-text="item.name"
					md-min-length="0"
					placeholder="Pick an existing player"
					md-menu-class="autocomplete-custom-template">
					<md-item-template class="md-2-line contact-item">
						<md-list class="fixedRows md-dense">
							<md-list-item class="md-2-line contact-item">
								<img ng-src="{{item.image}}" class="md-avatar" alt="{{item.name}}"/>
								<div class="md-list-item-text compact">
									<h3>{{item.name}}</h3>
									<p>{{item.won}} wins / {{item.lost}} lost</p>
								</div>
							</md-list-item>
						</md-list>
					</md-item-template>
				</md-autocomplete>
			</div>
			<div flex>
				<h4>Player 2</h4>
				<md-list class="fixedRows md-dense">
					<md-list-item class="md-2-line contact-item">
						<img ng-src="{{game.player2.image}}" class="md-avatar" alt="{{game.player2.name}}"/>
						<div class="md-list-item-text compact">
							{{game.player2.name}}
							<md-input-container ng-if="false">
								<label>Name</label>
								<input required md-no-asterisk name="player1" ng-model="game.player2.name">
								<div ng-messages="game.player2.name.$error">
									<div ng-message="required">This player is required.</div>
								</div>
							</md-input-container>
						</div>
					</md-list-item>
				</md-list>
				<md-autocomplete
					md-selected-item="game.player2"
					md-search-text-change="game.searchTextChange(game.searchText2)"
					md-search-text="game.searchText2"
					md-selected-item-change="game.selectedItemChange(item)"
					md-items="item in game.querySearch(game.searchText2)"
					md-item-text="item.name"
					md-min-length="0"
					placeholder="Pick an existing player"
					md-menu-class="autocomplete-custom-template">
					<md-item-template class="md-2-line contact-item">
						<md-list class="fixedRows md-dense">
							<md-list-item class="md-2-line contact-item">
								<img ng-src="{{item.image}}" class="md-avatar" alt="{{item.name}}"/>
								<div class="md-list-item-text compact">
									<h3>{{item.name}}</h3>
									<p>{{item.won}} wins / {{item.lost}} lost</p>
								</div>
							</md-list-item>
						</md-list>
					</md-item-template>
				</md-autocomplete>
			</div>
		</div>
		<section layout="row" layout-sm="column" layout-align="center center" layout-wrap ng-if="game.player1.id && game.player2.id">
			<md-button class="md-raised md-primary" ng-click="game.start()">Go!</md-button>
		</section>
	</div>
	<div ng-if="game.ready && !game.end">
		<div layout="row" layout-xs="column" layout-padding>
			<div flex>
				<h4>{{game.player1.name}}</h4>
			</div>
			<div flex>
				<md-list class="fixedRows md-dense">
					<md-list-item class="md-1-line contact-item" layout="row" layout-align="end center">
						<img ng-src="{{game.player1.image}}" class="md-avatar" alt="1" ng-style="{opacity : (game.score1 >= 1 ? 1 : 0.2)}"/>
						<img ng-src="{{game.player1.image}}" class="md-avatar" alt="2" ng-style="{opacity : (game.score1 >= 2 ? 1 : 0.2)}"/>
						<img ng-src="{{game.player1.image}}" class="md-avatar" alt="3" ng-style="{opacity : (game.score1 == 3 ? 1 : 0.2)}"/>
					</md-list-item>
				</md-list>
			</div>
			<div flex>
				<md-list class="fixedRows md-dense">
					<md-list-item class="md-1-line contact-item">
						<img ng-src="{{game.player2.image}}" class="md-avatar" alt="1" ng-style="{opacity : (game.score2 >= 1 ? 1 : 0.2)}"/>
						<img ng-src="{{game.player2.image}}" class="md-avatar" alt="2" ng-style="{opacity : (game.score2 >= 2 ? 1 : 0.2)}"/>
						<img ng-src="{{game.player2.image}}" class="md-avatar" alt="3" ng-style="{opacity : (game.score2 == 3 ? 1 : 0.2)}"/>
					</md-list-item>
				</md-list>
			</div>
			<div flex>
				<h4>{{game.player2.name}}</h4>
			</div>
		</div>
		<div layout="row" layout-xs="column" layout-padding>
			<div flex="20"></div>
			<div flex>
				<md-card>
					<md-card-title>
						<md-card-title-text>
							<span class="md-headline">{{game.actualPlayer.name}}</span>
							<span class="md-subhead">Is your turn pick a move</span>
						</md-card-title-text>
						<md-card-title-media>
							<div class="md-media-sm card-media">
								<img ng-src="{{game.actualPlayer.image}}" alt="{{game.actualPlayer.name}}"/>
							</div>
						</md-card-title-media>
					</md-card-title>
					<md-card-actions layout="row" layout-align="center">
						<md-list class="fixedRows md-dense moves">
							<md-list-item class="md-2-line contact-item md-raised" ng-repeat="move in game.moves" ng-click="game.doMove(move)">
								<img ng-src="{{move.image}}" class="md-avatar" alt="{{move.name}}"/>
								<div class="md-list-item-text compact">
									<h3>{{move.name}}</h3>
									<p>&raquo; Kills <strong>{{move.kills}}</strong></p>
								</div>
							</md-list-item>
						</md-list>
					</md-card-actions>
				</md-card>
			</div>
			<div flex="20"></div>
		</div>
	</div>
	<div ng-if="game.end">
		<div layout="row" layout-xs="column">
			<div flex="20"></div>
			<div flex>
				<h4>New Stats</h4>
				<md-list class="fixedRows md-dense">
					<md-list-item class="md-3-line contact-item">
						<img ng-src="{{game.player1.image}}" class="md-avatar" alt="{{game.player1.name}}"/>
						<div class="md-list-item-text compact">
							<h3>{{game.player1.name}}</h3>
							<h4 class="green">{{game.player1.won}} wins</h4>
							<p class="red">{{game.player1.lost}} lost</p>
						</div>
						<img ng-src="{{game.player2.image}}" class="md-avatar" alt="{{game.player2.name}}"/>
						<div class="md-list-item-text compact">
							<h3>{{game.player2.name}}</h3>
							<h4 class="green">{{game.player2.won}} wins</h4>
							<p class="red">{{game.player2.lost}} lost</p>
						</div>
					</md-list-item>
				</md-list>
			</div>
			<div flex="20"></div>
		</div>
		<section layout="row" layout-sm="column" layout-align="center center" layout-wrap>
			<md-button class="md-raised md-primary" ng-click="game.init()">Start All Over!</md-button>
		</section>
	</div>
</md-content>